<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/3501711b-3af0-4387-864e-6a627860ac70/resourceGroups/testhiberus/providers/Microsoft.Web/sites/GloiathNationalBank</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://gloiathnationalbank.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>gloiathnationalbank.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>GloiathNationalBank</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$GloiathNationalBank</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>